<p id="notice"><%= notice %></p>

<p>
  <strong>Course name:</strong>
  <%= @course.course_name %>
</p>

<p>
  <strong>School:</strong>
  <%= @course.teacher.school.school_name %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @course.teacher.full_name(@course.teacher) %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
